.Settings {
  background-color: transparent;
  color: white;
  /* border: 1px solid whitesmoke; */

  /* height: 50%;
  width: 100%; */

  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */


}

.segment {
  border-bottom: 1px solid whitesmoke;
  width: 85%;
  height: 35px;
  /* margin-bottom: 10px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.segment-title {
  font-size: 17px;
}
.segment-data {
  font-size: 12px;
  margin-left: 10px;
}
